
.meta_frame {
    min-width: 255px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin-bottom: 20px;
}

.meta_header {
    border-bottom: 1px solid #c3c4c7;
}

.meta_title {
    font-size: 20px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    font-weight: 600;
}

.meta_input {
    margin: 6px 0 0;
    padding: 0 12px 12px;
}

textarea {
    box-shadow: transparent 0px 0px 0px;
    border-radius: 4px;
    border: 1px solid rgb(140, 143, 148);
    background-color: rgb(255, 255, 255);
    color: rgb(44, 51, 56);
    border-spacing: 0px;
    width: 100%;
    clear: both;
    margin: 0px;
    height: 173px;
    overflow: auto;
    padding: 2px 6px;
    line-height: 1.42857;
    resize: vertical;
}

#container{
    display: grid;
    grid-template-areas: "tabs list";
    grid-template-columns: 1fr 4fr;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2d2c41;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

h1 a {
    color: #c12c42;
    font-size: 16px;
}

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 20px 20px 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom-color: blue;
}

.accordion .tab {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 15px 15px 15px 15px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .tab {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
.sub-menu {
    /*background: #444359;*/
    font-size: 14px;
}

.sub-menu li {
    border-bottom: 1px solid #4b4a5e;
}

.sub-menu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.sub-menu a:hover {
    background: #b63b4d;
    color: #FFF;
}


#tab-content{
    margin: 20px;
    background-color: wheat;
    padding: 20px;
}


.sub-menu-btn {
    padding: 10px;
    color: gray;
    border-bottom: .5px dashed black;
}

.sub-menu-btn:hover {
 transform: scale(1.1);
}


.add_ico{
    color: green;
    display: none;
    font-size: 30px;
    margin-left: 10%;
    position: absolute;
    vertical-align: baseline;
    top: 15%;
}

.tab:hover > b {
    display: contents;
    transform: scale(1.3);
    transition-duration: 1s;
}
